@import "~bootstrap/scss/bootstrap";
@import './veriable.scss';
@import './mixin.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    font-family:cursive;
    font-size: 18px;
    font-weight: 600;
    color: $color-black;
    letter-spacing: 0em;
    
    
}
.fluid{
  margin: 0;
    padding: 0;
    width: 100vw;
}
.container{
  width: 65vw;
  
}