@import './Global/veriable';

.BtnWrapper{
    margin-top: 50px;
    display: flex;
    align-items: center;
    
}
.AboutBtn{
    padding: 15px 30px;
    border-radius: 28px;
    text-transform: uppercase;
    color: $color_green;
    border: 2px solid $color_green;
    background-color: $color_white;
}
.Link{
    color: $color_green;
    margin-left: 15px;
    text-decoration: none;
}
.AboutImg{
    right: ;i
    position: relative;
}
.Tractor{
    position: absolute;
margin-top:400px;

height: 292px;
width: 293px;


}
.AboutImg1{
    position: absolute;
    margin-top: 110px;
}
.AboutImg2{
    position: absolute;
    margin-top: 110px;
    margin-left: 300px;
}