@import './Global/veriable';

.BtnWrapper{
    d
}
.AboutBtn{
    padding: 15px 30px;
    border-radius: 28px;
    text-transform: uppercase;
    color: $color_green;
    border: 2px solid $color_green;
    background-color: $color_white;
}
.Link{
    text-decoration: none;
}