@import './Global/veriable';

.BtnWrapper{
    display: flex;
    ju
    color: $color_green;
}
.AboutBtn{
    padding: 15px 30px;
    border-radius: 28px;
   
   
    border: 2px solid $color_green;
    background-color: $color_white;
}
.Link{
    margin-left: 15px;
    text-decoration: none;
}