@import './Global/veriable';

.BlogCard {
    margin-top: 500px;
}
.BlogTitle{
    // font-family: Gilroy;
    font-size: 40px;
    font-weight: 800;
    
    letter-spacing: 1px;
    color:$color_green ;
    text-transform: uppercase;
    
}
