@import './Global/veriable';

.Flag{
    // position: absolute;
    width: 600px;
    margin-left: -300px;
}
.BlogCard {
    margin-top: 400px;
   margin-left: auto;
}
.BlogTitle{
    // font-family: Gilroy;
    font-size: 40px;
    font-weight: 800;
    
    letter-spacing: 1px;
    color:$color_green ;
    text-transform: uppercase;
    
}
