@import './Global/veriable';

.BlogWrapper{
    display: flex;
    margin-top: 250px;
}
.Flag{
   
   max-width: 700px;
    margin-left: -300px;
}
.BlogCard {
      
    margin-top: 200px;

}
.BlogTitle{
    // font-family: Gilroy;
    font-size: 40px;
    font-weight: 800;
    
    letter-spacing: 1px;
    color:$color_green ;
    text-transform: uppercase;
    
}
.accordion{
    margin-top: 30px;
}
.AHeader{
    // font-family: Gilroy;
font-size: 16px;
font-weight: 800;
text-transform: uppercase;
color: $color_green;

}