@import './Global/veriable';

.StoriesWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}
.StoryLeft{
 

}
.ImgTopText{
    // font-family: Gilroy;
margin-bottom: -100px;
font-size: 28px;
font-weight: 800;





}
.CardStoryTitle{
    // font-family: Gilroy;
font-size: 18px;
font-weight: 800;

    color: $color_green;
}
.CardStoryText{
    // font-family: Poppins;
font-size: 13px;
font-weight: 400;

}
.CardStorySubtitle{
    // font-family: Gilroy;
font-size: 13px;
font-weight: 800;
color: $color_green;


}
.ImgWrapper{
   margin-left: -50px;
    height: 570px;
    
width: 460px;
background-image: url(../assets/Images/User.png);

}
.StoriesImgCard{
    padding:25px;
 top:260px;
 box-shadow: 14px 14px 40px rgba(0, 0, 0, 0.1);
border-radius: 0px;
    
    height: 315px;
    width: 276px; 
   
    margin-left:-20px;
}
.BlogSoriesBtn{
    margin-left: 330px;
   margin-top: 170px;
   position: absolute;
    background: $color_green;
box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
border-radius: 49px;
// font-family: Gilroy;
font-size: 15px;
font-weight: 400;
width: 150px;
padding: 15px;
border: none;


}
.StoriesTitle{
    // font-family: Gilroy;
font-size: 43px;
font-weight: 800;


}


.StoryTitle{
    // font-family: Gilroy;
font-size: 20px;
font-weight: 800;
color: $color_green;
}
.StoryText{
    // font-family: Gilroy;
    margin-bottom: 0;
font-size: 15px;
font-weight: 400;


}
.StoryLink{
    // font-family: Gilroy;
font-size: 14px;
font-weight: 400;
color: $color_green;
margin-left: -20px;

}
.accordion{
   margin-top: 0;
   margin-bottom: 0;
 
}
.accordionBody{
   
    margin-left: -20px;
}
.AccordionHeader{
    // margin-top: -30px;
   
}
.accordion-header{
  
   
}