@import './Global/veriable';

.Flag{
    // position: absolute;
   max-width: 700px;
    margin-left: -300px;
}
.BlogCard {
     po
    margin-top: 250px;

}
.BlogTitle{
    // font-family: Gilroy;
    font-size: 40px;
    font-weight: 800;
    
    letter-spacing: 1px;
    color:$color_green ;
    text-transform: uppercase;
    
}
