@import './Global/veriable';

.ImgTopText{
    // font-family: Gilroy;
font-size: 28px;
font-weight: 800;



}
.ImgWrapper{
    height: 570px;
width: 460px;
background-image: url(../assets/Images/User.png);
 position: relative;
}
.StoriesImgCard{
    outline: auto;
    margin-top: 100px;
    margin-left:-20px;
}