@import './Global/veriable';

.ContactCard{
  
max-width: 540px;

}
.ContactImg{
    height: 200px;
}
.ContactTitle{
    // font-family: Gilroy;
font-size: 29px;
font-weight: 800;
text-transform: uppercase;
padding: 30px 100px 20px;
}
.ContactText{
    // font-family: Roboto;
font-size: 16px;
font-weight: 400;
text-align: center;

}
.BgControl{
    border: 1px solid $color_input;
    
}
.SendBtn{
    // font-family: Gilroy;
    font-size: 15px;
    font-weight: 800;
    line-height: 60px;
   background-color: $color_green;
    text-align: center;
    border-radius: 30px;
    color: $color_white;
    padding: 0 177px;
   


}
a:hover{
    transform: scale(1.01);
    tex
   }