@import './Global/veriable';

.ContactCard{
  
max-width: 540px;

}
.ContactImg{
    height: 200px;
}
.ContactTitle{
    // font-family: Gilroy;
font-size: 29px;
font-weight: 800;
text-transform: uppercase;
padding: 30px 100px 20px;
}
.ContactText{
    // font-family: Roboto;
font-size: 16px;
font-weight: 400;
text-align: center;

}
.BgControl{
    border: 1px solid #E7E7E7;
    background-color: ;
}