@import './Global/veriable';
.WrapFooter{
    display: flex;
    width: 1000px;
    height: 500px;
    // grid-gap: 40px;
    // grid-template-columns: 1fr 1fr;
    background-color: $color_green;
}
.TextData{
    // font-family: Poppins;
font-size: 15px;
font-weight: 400;

}