@import './Global/veriable';
.WrapFooter{
    display: flex;
   align-items: center;
    // grid-gap: 40px;
    // grid-template-columns: 1fr 2;
    background-color: $color_green;
}
.TextData{
    // font-family: Poppins;
font-size: 15px;
font-weight: 400;

}
.WrapRight