@import './Global/veriable';
.FooterFluid{
    background-color: $color_green;
}
.FooterWrap{
    padding-top: 90px;
    margin-top: 165px;
}
.WrapText{
    
   
    display: grid;
   align-items: center;
   
    grid-template-columns: 1fr 1fr;
    
}
.TextData{
    // font-family: Poppins;
    margin-top: 35px;
font-size: 15px;
font-weight: 400;
color: $color_white;    

}
.PageLink{
    display: grid;
    grid-gap: 40px;
   
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    h4{
        // font-family: Poppins;
        color: $color_white;
font-size: 18px;
font-weight: 400;


    }
}
ul{
   

    li{
        color:  #60B45A;
        padding-top: 7px;
        list-style: none;
        margin-left: -25px;
        font-family: Poppins;
font-size: 14px;
font-weight: 400;


    }
}
.BottomTextWrap{
    display: flex;
    justify-content: space-between;
    color: $color_white;
  
    // font-family: Mulish;
    font-size: 14px;
    font-weight: 400;

    

}
.TextRight{
    display: grid;
    
    
     grid-template-columns: 1fr 1fr 1fr; 
}
.abba{
    display: flex;
    width: 40px;
}