@import './Global/veriable';
@import './Global/mixin.scss';

.d-flex{
   
    color:$color_green;
}
.phone{
  width: 50px;
  height: 50px;
  @include flex;
  border:  2px solid $color_green;
  border-radius: 50%;
   img{
     width: 30px;
   }

}
.Header{
  position:fixed;
  top: 0;
  
 
   width: 65vw;
  
}