
// .bg{
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;  
//     position: absolute;

// background: url(../assets/Images/HomeImg.png) ;
// background-repeat: no-repeat;
// background-size: contain;
// }
.Title{
    font-family: Gilroy;
font-size: 67px;
font-weight: 800;
line-height: 83px;
letter-spacing: 0em;
text-align: left;

}