@import './Global/veriable';

.ProductCard{
    display: flex;
    align-items: center;
    width: 500px;
    height: 200px;
}

.TitleWrapper{
    margin-top: 200px;
  
}
.CardTitle{
    height: 44px;
    width: 194.8050079345703px;
    left: 25.3916015625px;
    top: 25.5174560546875px;
    border-radius: nullpx;
    
}
.ProductsTitle{
    // font-family: Gilroy;
font-size: 46px;
font-weight: 800;
text-transform: uppercase;


}
.ProductsDescription{
    // font-family: Roboto;
font-size: 16px;
font-weight: 400;




}