@import './Global/veriable';


.TitleWrapper{
    color: $color-black;
}
.ProductsTitle{
    font-family: Gilroy;
font-size: 56px;
font-weight: 800;
line-height: 54px;


}
.ProductsDescription{
    // font-family: Roboto;
font-size: 16px;
font-weight: 400;
color: $color-black;
letter-spacing: 0em;


}