@import './Global/veriable';

.TitleWrapper{
    margin-top: 200px;
    color: $color-black;
}
.ProductsTitle{
    // font-family: Gilroy;
font-size: 56px;
font-weight: 800;



}
.ProductsDescription{
    // font-family: Roboto;
font-size: 16px;
font-weight: 400;
color: $color-black;



}